export(computeWin)
export(computeWinVerbose)
export(computeWinPlot)
export(keepRead)
export(filterMulti)
export(filterOne)
export(filterOnePairs)
export(getWin)
export(getWinPairs)
export(getFragment)
export(plotHist)
export(plotWin)
import(BiocGenerics)
import(GenomeInfoDb)
import(Rcpp)
import(S4Vectors)
import(magrittr)
import(reshape2)
import(ggplot2)
useDynLib(rnaCleanR)